<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="bodyDiv">
      <div class="titleDiv">
        <h2><%= locals.user || ''%>To-Do List</h2>
        <small>Click to cross off</small>
        <div id="inputDiv">
          <input class="inputBox" id="inputBox" placeholder="New task" />
          <button class="labelButton" id="addButton">Add</button>
        </div>
        <div id="buttonsDiv">
          <button id="delButton">Delete Done</button>
          <button id="saveButton">Save</button>
          <button id="testButton">To Server</button>
        </div>
      </div>

      <ul id="list"></ul>
    </div>
  </body>
  <script src="/scripts/home.js"></script>
</html>
