<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="bodyDiv">
      <div id="titleDiv">
        <h2><%= locals.user || ''%>To-Do List</h2>
        <small>Click to cross off</small>
        <div id="inputDiv">
          <input id="inputBox" name="inputBox" placeholder="New task" />
          <button id="addButton">Add</button>
        </div>
        <div id="buttonsDiv">
          <button id="delButton">Delete Done</button>
          <button id="saveButton">Save</button>
          <button id="testButton">To Server</button>
        </div>
      </div>

      <ul id="list">
        <li class="listElement"><p class="listText">test1</p></li>
        <li class="listElement"><p class="listText">test2</p></li>
        <li class="listElement"><p class="listText">test3</p></li>
        <li class="listElement"><p class="listText">test4</p></li>
      </ul>
    </div>
  </body>
  <script src="/scripts/script.js"></script>
</html>
