<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style></style>
  </head>

  <body>
    <div id="bodyDiv">
      <div class="titleDiv" id="loginDiv">
        <h2>Login</h2>
        <small>Enter a username</small>
        <div id="inputDiv">
          <input class="inputBox" id="loginBox" placeholder="Username" />
          <button class="labelButton" id="enterButton">Enter</button>
        </div>
      </div>
    </div>
  </body>

  <script src="/scripts/login.js"></script>
</html>
