<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    d
  </body>

  <script src="/scripts/script.js"></script>
</html>
